<!--输入 !+Enter 有惊喜--->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue本地应用</title>
</head>

<body>
    <div id="app">
        <input type="button" value="切换显示" @click="toggleIsShow">
        <p v-if="isShow">Hei Ma</p>
        <p v-show="isShow">Hei Ma</p>
        <h2 v-if="temperature>=35">热死了</h2>
    </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                isShow: false,
                temperature: 40
            },
            methods: {
                toggleIsShow: function() {
                    this.isShow = !this.isShow;
                }
            }
        })
    </script>
</body>

</html>