<!--输入 !+Enter 有惊喜--->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue本地应用</title>
</head>

<body>
    <div id="app">
        <input type="button" value="Add" @click="add">
        <input type="button" value="Sub" @click="remove">
        <ul>
            <li v-for="(it, index) in arr">
                {{ index+1 }} Area: {{ it }}
            </li>
        </ul>
        <h2 v-for="item in vegetables" v-bind:title="item.name">
            {{ item.name }}
        </h2>
    </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                arr: ["北", "上", "广", "深"],
                vegetables: [{
                    name: "西兰花炒蛋"
                }, {
                    name: "蛋炒西兰花"
                }]
            },
            methods: {
                add: function() {
                    this.vegetables.push({
                        name: "花菜炒蛋"
                    });
                },
                remove: function() {
                    this.vegetables.shift();
                }
            }
        })
    </script>
</body>

</html>